4511W-Intro_To_Artificial_Intelligence/Course_Project_Towers_of_Hanoi/bare_conf.tex linguist-vendored
4511W-Intro_To_Artificial_Intelligence/Course_Project_Towers_of_Hanoi/IEEEtran.cls linguist-vendored