h1 {
	color: blue;
	font-weight: bold;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	background-color: #00AAFF;
	border: 5px solid black;
	text-align: center;
	empty-cells: show;
}

thead {
	font-weight: bold;
	font-size: 1.2em;
	background-color: white;
	padding-left: 7px;
	padding-right: 7px;
	
}

table tr td {
	background-color: lightblue;
	border: 1px solid black;
}

td:first-child {
	font-style: italic;
	color: white;
	background-color: inherit;
	border: none;
	padding: 3px; 
}

td {

	color: #585858;
}