h1 {
	text-align: center;
}

#buttons {
    text-align: center;
    margin: 0 auto;
}

#screen {
    width: 100%; 
    height: 100%;
    background-color: gray;
    position:fixed;
    top:0px;
    left:0px;
    z-index:2;
}

#screen img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

#screen h1 {
    text-align: center;
    color: aqua;
}

table, td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

td {
    border: 1px solid gray;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
}

td h1 { /* select all h1 inside td (comma would make it as select all td and h1) */
    color: blue;
    font-size: 20px;
}

td a {
  color: #000000;
  background: grey;
  margin: 10px;
  padding: 5px 10px 5px 10px;
  border: solid #000000 2px;
  text-decoration: none;
}

td a:hover {
  background: #3cb0fd;
  text-decoration: none;
}